@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-logo {
    background-image: url(../assets/img/header-logo.png);
  }
  .hero-img {
    background-image: url(../assets/img/hero-img.png);
  }
  .hero-c1 {
    background-image: url(../assets/img/hero-c1.png);
  }
  .hero-c2 {
    background-image: url(../assets/img/hero-c2.png);
  }
  .hero-c3 {
    background-image: url(../assets/img/hero-c3.png);
  }
  .hero-c4 {
    background-image: url(../assets/img/hero-c4.png);
  }
  .hero-c5 {
    background-image: url(../assets/img/hero-c5.png);
  }
  .hero-c6 {
    background-image: url(../assets/img/hero-c6.png);
  }
  .hero-c7 {
    background-image: url(../assets/img/hero-c7.png);
  }
  .web-service-img {
    background-image: url(../assets/img/web-service.png);
  }
  .graphic-service-img {
    background-image: url(../assets/img/graphic-service.png);
  }
  .design-service-img {
    background-image: url(../assets/img/3d-service.png);
  }
  .why-bg-img{
    background-image: url(../assets/img/why-bg.png);
  }
  .member-img1 {
    background-image: url(../assets/img/member-1.jpeg);
  }
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}